body{
    overflow-y:hidden;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
}

.background {
  position: absolute;
  margin-top: 180px;
}

.background img {
  float: right;
  width: 100%;
  object-fit: fill;
  opacity: 0.4;
}

.me img {
  position: fixed;
  margin-top: 20px;
  left: 100px;
  width: 20%;
  object-fit: contain;
  border: 5px solid white;
  border-radius: 50%;
}

.intro {
  top: 20px;
  right: 100px;
  position: fixed;
  text-align: center;
}

.intro .links li {
  display: inline-block;
  padding: 5px;
}

.intro h1 {
  font-size: 30px;
  padding: 20px;
}

.intro p, .intro li {
  padding: 10px;
}

.intro li:hover {
  border-bottom: 2px solid black;
}

.list, .skills {
  position: fixed;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background: white;
  opacity: 0.8;
  padding: 10px;
}

.list {
  left: 20px;
}

.skills {
  right: 20px;
}

.list h3, .skills h3 {
  font-size: 20px;
}

.list li, .list h3, .skills li, .skills h3 {
  padding-bottom: 10px;
}
